.dropzone {
  box-sizing: border-box;
  background: rgb(245, 245, 245);
  color: grey;
  border: 1px dotted grey;
  padding: 20px;
  min-width: 500px;
  width: min-content;
  text-align: center;
  margin: 10px;
}
.dropzone:hover {
  cursor: pointer;
}